<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nbacademy.wilsonsrelax">

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Wilson"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">

        <activity
            android:name=".Menu_Principal"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Respiracao"
            android:label="Respiracao"
            android:parentActivityName=".Menu_Principal"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nbacademy.wilsonsrelax.Menu_Principal" />
        </activity>
        <activity
            android:name=".Relaxamento"
            android:label="@string/title_activity_relaxamento"
            android:parentActivityName=".Menu_Principal"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nbacademy.wilsonsrelax.Menu_Principal" />
        </activity>
        <activity
            android:name=".Musica"
            android:label="@string/title_activity_musica"
            android:parentActivityName=".Menu_Principal"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nbacademy.wilsonsrelax.Menu_Principal" />
        </activity>
        <activity
            android:name=".Posicoes"
            android:label="@string/title_activity_posicoes"
            android:parentActivityName=".Menu_Principal"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nbacademy.wilsonsrelax.Menu_Principal" />
        </activity>
        <activity
            android:name=".respiracao1"
            android:label="@string/title_activity_respiracao1"
            android:parentActivityName=".Menu_Principal"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nbacademy.wilsonsrelax.Menu_Principal" />
        </activity>
        <activity
            android:name=".posicoes1"
            android:label="@string/title_activity_posicoes1"
            android:parentActivityName=".Menu_Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nbacademy.wilsonsrelax.Menu_Principal" />
        </activity>
        <activity
            android:name=".relaxamento2"
            android:label="@string/title_activity_relaxamento2"
            android:parentActivityName=".Menu_Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nbacademy.wilsonsrelax.Menu_Principal" />
        </activity>
        <activity
            android:name=".respiracao2"
            android:label="@string/title_activity_respiracao2"
            android:parentActivityName=".Menu_Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nbacademy.wilsonsrelax.Menu_Principal" />
        </activity>
        <activity
            android:name=".respiracao3"
            android:label="@string/title_activity_respiracao3"
            android:parentActivityName=".Menu_Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nbacademy.wilsonsrelax.Menu_Principal" />
        </activity>
        <activity
            android:name=".respiracao4"
            android:label="@string/title_activity_respiracao4"
            android:parentActivityName=".Menu_Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nbacademy.wilsonsrelax.Menu_Principal" />
        </activity>
        <activity
            android:name=".respiracao5"
            android:label="@string/title_activity_respiracao5"
            android:parentActivityName=".Menu_Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nbacademy.wilsonsrelax.Menu_Principal" />
        </activity>
        <activity
            android:name=".respiracao6"
            android:label="@string/title_activity_respiracao6"
            android:parentActivityName=".Menu_Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nbacademy.wilsonsrelax.Menu_Principal" />
        </activity>
        <activity
            android:name=".respiracao7"
            android:label="@string/title_activity_respiracao7"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".respiracao8"
            android:label="@string/title_activity_respiracao8"
            android:parentActivityName=".Menu_Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nbacademy.wilsonsrelax.Menu_Principal" />
        </activity>
    </application>

</manifest>